<form #f="ngForm" name="new-post" novalidate>
  <input type="text"
         placeholder="Título"
         class="u-full-width"
         [{ngModel}]="model.title"
         name="title"
         required>
  <textarea placeholder="Introduce tu historia"
            class="u-full-width georgia-font"
            autogrow
            [{ngModel}]="model.intro"
            name="intro"
            required></textarea>
  <textarea placeholder="Cuenta tu historia"
            class="u-full-width georgia-font"
            autogrow
            [{ngModel}]="model.body"
            name="body"
            required></textarea>
  <div>
    <div>
      <label (click)="setScheduling(false)">
        <span class="radio-input" [class.active]="!_publicationDateScheduled"></span>
        No programar
      </label>
    </div>
    <div>
      <label (click)="setScheduling(true)">
        <span class="radio-input" [class.active]="_publicationDateScheduled"></span>
        Publicar en:
      </label>
    </div>
    <div>
      <input type="datetime-local"
             name="publicationDate"
             [min]="_nowDatetimeLocal"
             [ngModel]="_nowDatetimeLocal">
    </div>
  </div>
  <button type="submit"
          class="button-primary u-pull-right"
          ng-disabled="new-post.$invalid">Publicar</button>
</form>
